<div class="ui fluid stacked padded card">
  <div class="content">
  <div class="ui {{ site.colors.primary }}  header"><i class="ui info circle icon"></i> How to apply</div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
  <div class="extra content">
     
    <div class="ui center aligned">
     <div class="ui sub header">Join one of our programs</div>
     
      <a class="ui huge {{ site.colors.primary }} button">Apply now</a>
    </div>
  </div>
</div>