<div class="ui tiny form">
<div class="field">
 <legend>Name</legend>
  <input type="text" placeholder="Your name">
</div>
<div class="field">
 <legend>Email address</legend>
  <input type="email" placeholder="Your email address">
</div>
<div class="field">
  <legend>How can we help?</legend>
  <select name="reason" id="reason">
    <option value="Request Information">Request Information</option>
    <option value="Ask for a Quote">Ask for a Quote</option>
    <option value="Partnership">Partnership</option>
    <option value="Press">Press</option>        
    <option value="Other reason">Other reason</option>        
  </select>
</div>
<div class="field">
 <legend>Message</legend>
 <textarea name="message" id="message" cols="30" rows="10"></textarea>
</div>
<div class="field">
  <input type="submit" value="Send request" class="ui  large fluid {{ site.colors.primary }} button">
</div>
</div>
