  <div class="ui vertical stripe center aligned padded stats-segment {{ site.colors.primary }} inverted segment">
    <div class="ui four inverted statistics">
      <div class="statistic">
        <div class="value">
          22
        </div>
        <div class="label">
          Saves
        </div>
      </div>
      <div class="statistic">
        <div class="text value">
          Three<br>
          Thousand
        </div>
        <div class="label">
          Signups
        </div>
      </div>
      <div class="statistic">
        <div class="value">
          <i class="plane icon"></i> 5
        </div>
        <div class="label">
          Flights
        </div>
      </div>
      <div class="statistic">
        <div class="value">
          <i class="ui user icon"></i> 22
        </div>
        <div class="label">
          Team Members
        </div>
      </div>
    </div>
  </div>