  <div class="ui vertical stripe segment" id="services">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h2 class="ui header">{{ page.about.title }}</h2>
          <p>{{ page.about.description}}</p>
          <h3 class="ui header">{{ page.about.subtitle }}</h3>
          <p>{{ page.about.description}}</p>
        </div>
        <div class="eight wide right floated column">
          <img src="http://placehold.it/800x600" class="ui huge bordered rounded image">
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a href="{{ page.about.target }}" class="ui huge  {{ site.colors.primary }} button">Check Them Out</a>
        </div>
      </div>
    </div>
  </div>