

<div id="hero" class="ui vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui huge secondary pointing green menu" style="border:none">
        <a class="toc item">
          <i class="sidebar icon"></i> {{ site.title }}
        </a>
        <a class="item">{{ site.title }}</a>
           {% include menu_items.html %}
        <div class="right item">
          <a class="ui huge {{ site.colors.primary }} button" href="/contact">Contact us</a>
        </div>
      </div>
    </div>


    {% include hero.html %}

  </div>
