<div class="ui fluid card">
  <div class="left aligned content">
    <div class="medium header"><i class="ui file pdf outline large icon"></i> Brochures</div>
    <div class="description">For more information please download our brochure</div>
  </div>
  <div class="extra left aligned content">
    <div class="ui list">
      {% for service in site.services%}
      <div class="item">
        <div class="left floated header">
          {{ service.title }}
        </div>
        <button class="ui centered right floated tiny button {{ site.colors.primary}}"><i class="ui icon download"></i> Download .pdf</button>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
