<div class="ui inverted {{site.colors.primary}} borderless menu" style="margin:0;border-radius:0">
  <div class="ui container">
    <div class="item"><i class="ui mail icon"></i> Email: <a href="#">{{ site.contact.email }}</a></div>
    <div class="item"><i class="ui phone icon"></i> Phone: <a href="#">{{ site.contact.phone }}</a></div>
    <div class=" right menu">
      <div class="ui category search item">
          <div class="ui transparent inverted icon input">
            <input class="prompt" type="text" placeholder="Search site...">
            <i class="search link icon"></i>
          </div>
          <div class="results"></div>
        </div>
    <div class="item"><a href="{{site.base_url}}"><i class="ui home icon"></i></a></div>      
    </div>
  </div>
</div>